# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore virtual environments
env/
ENV/
.venv/
.ENV/

# Ignore IDE/editor folders
.vscode/
.idea/

# Ignore system files
.DS_Store
Thumbs.db
